force-app/main/default/flows/Translate_Courses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>PostTranslationRequest</name>
        <label>PostTranslationRequest</label>
        <locationX>556</locationX>
        <locationY>538</locationY>
        <actionName>translate.postTranslate</actionName>
        <actionType>externalService</actionType>
        <inputParameters>
            <name>generated</name>
            <value>
                <elementReference>TranslateServiceInput</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TranslateServiceOutput</assignToReference>
            <name>200</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Up_Translation_Parameters</name>
        <label>Set Up Translation Parameters</label>
        <locationX>560</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>TranslateServiceInput.target</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>es</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TranslateServiceInput.text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hello world</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Intermediate</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Language_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language</picklistField>
        <picklistObject>Translation</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Translate Courses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Translate Courses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>560</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Language</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
    </recordLookups>
    <screens>
        <name>Intermediate</name>
        <label>Intermediate</label>
        <locationX>758</locationX>
        <locationY>435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PostTranslationRequest</targetReference>
        </connector>
        <fields>
            <name>ST</name>
            <fieldText>&lt;p&gt;Intermediary text&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Language</name>
        <label>Language</label>
        <locationX>560</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Up_Translation_Parameters</targetReference>
        </connector>
        <fields>
            <name>Choose_a_Language</name>
            <choiceReferences>Language_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Course</startElementReference>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TranslateServiceInput</name>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TranslateServiceOutput</name>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
